@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

/* @layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../public/TransformersMovie.ttf) format('ttf');
  }
} */

@font-face {
  font-family: transform;
  src: url('./static/fonts/Transform.ttf');
};